
body {
  background-color: lightgrey;
  
}
.h1{

  position: relative;
  color: white;
  text-align: center;

}
textarea {
  
  margin: auto;
  width: 50%;
  border: 1px solid rgb(52, 138, 236);
  padding: 10px;
  right: 10px;
  left: 50px;
  
}

.custom-select {
  position: relative;
  font-family: Arial;
  top: 14px;
  right: 10px;
  width: 10;
  height: 5;
  padding: 1px 3px;
  margin: 4px 4px 4px;

}

.button {
    background-color: #008CBA;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 13px 35px;
    text-decoration: none;
    text-align: center;
    margin: 4px 4px ;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    
  }
  .button Forcast:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover Forcast {
    padding-right: 25px;
  }
  
  .button:hover Forcast:after {
    opacity: 1;
    right: 0;
  }
  
  .select {
    width: 950%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid ;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: rgb(17, 209, 243);
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }
